<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The decorator meta means this page will be merged into the defined decorator -->
    <meta name="decorator" content="app-home-decorator">
    <meta name="includeResourcesFor" content="plugin.admin">
    <title>Plugin Admin page</title>
  </head>

  <body>
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1 id="demo-header">Manage plugins</h1>
                <p class="subtitle">
                  Some admin page for plugins will go here
                </p>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
          <section class="aui-page-panel-content">
              <div id="plugins-table"></div>
          </section>
        </div>
    </div>
  </body>
</html>
