<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <h2>Success</h2>
            <p>You have successfully logged in. Hurray!</p>
        </section>
    </div>
</div>
