<div id="login">
  <h2>Login</h2>
  <form action="/login" id="login-form" method="post">

    <div id="aui-message-bar"></div>

    <section class="text-inputs">
      <input autofocus="" class="text" id="email-field" name="username" maxlength="255" placeholder="Email" type="text" value="">
      <input class="text" id="password-field" name="password" placeholder="Password" type="password">
      <input type="hidden" id="next" name="next" value="{{next}}">
    </section>

    <div class="button-container submit-container">
      <input id="submit-button" type="submit" class="aui-button-primary" value="Log in">

      <p><b>Tip</b>: username = "admin", password = "admin"</p>
    </div>

  </form>
</div>
<script>

  var msg = "{{msg}}";
  if( msg && msg != "" ){
    msg = AJS.messages.warning({
       title: 'Login Error',
       body: msg
    });
    msg.show();
  }

</script>
