<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Bootstrap responsive meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/app/dashboard/s/lib/bootstrap/css/bootstrap-4.3.1.min.css"
    />
    <style>
      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
      .navbar-header {
        margin-left: 5px;
        width: 100%;
      }
    </style>
    <title>DockUI Fragment Demo</title>
  </head>
  <body>
    <div id="heroHeader">
      <H1>HEADER WIDGET</H1>
    </div>

    <script src="/app/dashboard/s/lib/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="/app/dashboard/s/lib/popper/popper-1.14.7.min.js"></script>
    <script src="/app/dashboard/s/lib/bootstrap/js/bootstrap-4.3.1.min.js"></script>
  </body>
</html>
