<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The decorator meta means this page will be merged into the defined decorator -->
    <meta name="decorator" content="app-decorator-main">
    <title>Example Decorated Webpage number 2</title>
  </head>

  <body>
    <h3>Everything in the body of this page will be merged into the specified decorator</h3>
    <p>Here is some text from plugin 1</p>

    <div data-webfragment="example.fragment">
    </div>

    <div>
      <ol>
        <li data-webitems="example.webitems">
          <a class="bongo" href="{{webitem.link}}">{{webitem.text}}</a>
        </li>
      </ol>
    </div>

    <h3>Some random extra guff to prove its a different page. Should still be decorated though right?</h3>

  </body>
</html>
