<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The decorator meta means this page will be merged into the defined decorator -->
    <meta name="decorator" content="app-home-decorator">
    <meta name="includeResourcesFor" content="plugin.tour">
    <link rel="stylesheet" href="/static/tour-plugin/tour-resources/libs/shepherd/css/shepherd-theme-dark.css" media="all">
    <title>Dock UI Demo</title>
  </head>

  <body>
    <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main intro-header">
                    <h1 id="demo-header">Dock UI Demo</h1>
                    <p class="subtitle">
                      Docker UI is a framework for stitching together
                      a complete web experience from seperate UI microservices
                    </p>
                    <a id="tour-start" class="aui-button aui-button-primary" href="#">Tour</a>
                </div>
            </div>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
              <section class="aui-page-panel-content">
                  <div class="aui-group docs-intro">
                      <div class="aui-item">
                          <div class="item-wrapper">
                              <a href="/aui/latest/" class="centered">
                                  <img src="/static/tour-plugin/tour-resources/images/docker-logo.svg" class="introblob">
                              </a>
                              <h2>Documentation</h2>
                              <p>Check out the documentation to learn more about creating plugins and the various UI modules.</p>
                              <ul class="guides-list">
                                  <li><p><a href="/docs">Latest user guide <span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">1.0.0</span></a></p></li>
                              </ul>
                          </div>

                      </div>
                      <div class="aui-item">
                          <div class="item-wrapper">
                              <a id="getting-started" href="/aui/getting-started.html" class="centered">
                                  <img src="/static/tour-plugin/tour-resources/images/archive.png" class="introblob">
                              </a>
                              <h2>Tutorials</h2>
                              <p>Follow the quick start tutorial below to get up and running in less than 5 minutes.</p>
                              <ul class="guides-list">
                                  <li><p><a href="/tutorial">5 Minute Tutorial</a></p></li>
                              </ul>
                              <p></p>
                          </div>
                      </div>
                  </div>
              </section>
            </div>
        </div>

        <div data-webfragments="demo.footer"></div>
        <script src="/static/tour-plugin/tour-resources/libs/shepherd/js/tether.js"></script>
        <script src="/static/tour-plugin/tour-resources/libs/shepherd/js/shepherd.js"></script>

        <script>
        define("tour", ["shepherd", "exports"], function(Shepherd, x){

          var tour = new Shepherd.Tour({
            defaults: {
              classes: 'shepherd-theme-dark'
            }
          });

          tour.addStep('weblinks', {
            title: 'Weblinks',
            text: 'First things first, this is an example of a weblink, which has been added by a plugin',
            attachTo: '#action-button bottom',
            advanceOn: '.docs-link click'
          });

          tour.addStep('webfragments', {
            title: 'Webfragments',
            text: '....and this is an example of a web fragment injected by this demo plugin',
            attachTo: '#getting-started left',
            advanceOn: '.docs-link click'
          });

          tour.addStep('decorators', {
            title: 'Decorators',
            text: '....where as this header belongs to a decorator which wraps the content of this page',
            attachTo: '#header bottom',
            advanceOn: '.docs-link click'
          });

          tour.addStep('app', {
            title: 'Wrapup',
            text: 'and the whole thing is running across several connected docker containers',
            attachTo: '#tour-start bottom',
            advanceOn: '.docs-link click'
          });

          x.tour = tour;

        });

        require("jquery")("#tour-start").click(function(e){
          e.preventDefault();
          require("tour").tour.start();
        })
        </script>
  </body>
</html>
